Source: clara
Section: net
Priority: optional
Maintainer: Ana Guerrero <ana-externe.guerrero@edf.fr>
Build-Depends: debhelper (>= 8), python-all, python-setuptools, pandoc, bash-completion,
 texlive-latex-base, texlive-latex-extra, lmodern, texlive-fonts-recommended
Standards-Version: 3.9.1
X-Python-Version: >= 2.7
Homepage: https://github.com/edf-hpc/clara

Package: clara
Architecture: all
Recommends: gnupg-agent
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends},
 python-docopt, clustershell (>= 1.7),
# sftp
 python-paramiko,
# slurm
 slurm-client,
# repo
 reprepro, gnupg, debmirror,
# impi
 fping, ipmitool, sshpass,
# images, chroot
 debootstrap, squashfs-tools,
# p2p
 mktorrent,
# build
 cowbuilder,
# virt
 python-libvirt, python-jinja2, python-humanize
Description: cluster administration tools
 Clara is a set of tools to help administering and installing clusters.
 .
 Clara provides the following plugins:
  repo     Creates, updates and synchronizes local Debian repositories.
  impi     Manages and get the status from the nodes of a cluster.
  slurm    Performs tasks using SLURM's controller.
  images   Creates and updates the images of installation of a cluster.
  chroot   Creates and updates a chroot.
  p2p      Makes torrent images and seeds them via BitTorrent.
  enc      Interact with encrypted files using configurable methods.
  build    Builds Debian packages
  virt     Manages virtual machines
